body { font-family: Verdana; font-size: 8pt; background-color:#E4E4E4}
td { font-family: Verdana; font-size: 7pt}
@media screen {
  a {  font-family: verdana;arial; font-size: 9pt; font-style: normal; font-weight: bold; color: #666666; text-decoration: none}
}
@media print {
  a { font-family: verdana, font-size: 8pt; color: 000; text-decoration: none }
}
<!-- .titutabl {  font-family: Verdana; color: 000000; background-color: FFFF00; font-size: 16px; text-decoration: underline}  --><!-- Creo que este no se usa -->
h1 {  font-family: Verdana; font-size: 12px; font-weight: bold}
@media print {
  .SaltoDePagina { page-break-after: always; margin: 0px; font-size: 1% } <!-- salto de línea -->
}
@media screen {
  .SaltoDePagina { display: none }
}
.tituform {  font-family: verdana; font-size: 10pt; color: #FF6600; background-color: #FFD8B1; font-weight:bold; text-align: center}
.izqform {  font-family: Verdana; font-size: 8pt; color: #FF6600; background-color: #E4E4E4; font-weight: bold; text-align: center}
.derform {  font-family: Verdana; font-size: 7pt; color: #000000; background-color: #E4E4E4}
.selform {  font-family: Verdana; font-size: 7pt; color: #FF0000; background-color: #DDDDDD}
.inputform {  font-family: Verdana; font-size: 9pt; color: #000000}
.cabeform {  font-family: Verdana; font-size: 8pt; color: #FF6600; background-color: #FFD8B1; font-weight: bold }
.alertform {  font-family: Verdana; font-size: 7pt; background-color: #FF6655 }
 @media print {
   body { font-family: Verdana; font-size: 8pt; background-color:FFFFFF}
  .datoform { position:absolute; clip:rect(0 3.3cm 0.35cm 0); white-space: nowrap }
  .remedomi { position:absolute; clip:rect(0 3.4cm 0.35cm 0); white-space: nowrap }
 .datoform2 { position:absolute; clip:rect(0 6.8cm 0.35cm 0); white-space: nowrap }
 .datoform3 { clip:rect(0 3.3cm 0.35cm 0); white-space: none }
 }
.calendtitleform {  font-family: Verdana; font-size: 12pt; color: #FFFFFF; font-weight: bold; text-align: center}
.calendmonthform {  font-family: Verdana; font-size: 12pt; color: #FF6600; font-weight: bold; text-align: center}
.calenddaysform {  font-family: Verdana; font-size: 12pt; color: darkgreen; font-weight: bold; text-align: center}
.calendform {  font-family: Verdana; font-size: 9pt; color: #333333; font-weight: bold; text-align: center}
<!-- Esto cambiaría si existe más tipos de input -->
input {  font-family: Verdana; font-size: 8pt; color: #000000}
<!-- #FFA041 -->
/* Para los espacios en blanco subrayados, para rellenar a mano una vez
 * impreso */
.rellenar { text-decoration: underline }
/* Letra pequeña para los impresos */
.letrapeq { font-size: 80% }

@media screen {
  .solopapel { display: none }
}

@media print {
  .solopantalla { display: none; }
}
.nopartir { page-break-inside: avoid }
/* Campos obligatorios de un formulario */
.obli     { font-weight: bold }
.aviso    { color: #f00 }
